.video {
  margin-top: 100px;
  overflow: hidden;
  position: relative;

  video {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover;
    z-index: 0;
  }

  &.fallback {
    background-image: url('../img/video-preview.jpg');
    background-position: center center;
    background-size: cover;
    height: 600px;

    video {
      display: none;
    }
  }

  .overlay {
    align-items: center;
    background-color: rgba(127, 127, 127, 0.5);
    bottom: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
