@font-face {
  font-family: Gerbera;
  src: url(../fonts/hinted-Gerbera-Bold.eot);
  src: local("Gerbera Bold"),local("Gerbera-Bold"),url(../fonts/hinted-Gerbera-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/hinted-Gerbera-Bold.woff2) format("woff2"),url(../fonts/hinted-Gerbera-Bold.woff) format("woff"),url(../fonts/hinted-Gerbera-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gerbera;
  src: url(../fonts/hinted-Gerbera.eot);
  src: local("Gerbera"),url(../fonts/hinted-Gerbera.eot?#iefix) format("embedded-opentype"),url(../fonts/hinted-Gerbera.woff2) format("woff2"),url(../fonts/hinted-Gerbera.woff) format("woff"),url(../fonts/hinted-Gerbera.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gerbera;
  src: url(../fonts/hinted-Gerbera-Medium.eot);
  src: local("Gerbera Medium"),local("Gerbera-Medium"),url(../fonts/hinted-Gerbera-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/hinted-Gerbera-Medium.woff2) format("woff2"),url(../fonts/hinted-Gerbera-Medium.woff) format("woff"),url(../fonts/hinted-Gerbera-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gerbera;
  src: url(hinted-Gerbera-Light.eot);
  src: local("Gerbera Light"),local("Gerbera-Light"),url(../fonts/hinted-Gerbera-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/hinted-Gerbera-Light.woff2) format("woff2"),url(../fonts/hinted-Gerbera-Light.woff) format("woff"),url(../fonts/hinted-Gerbera-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Gerbera;
  src: url(../fonts/hinted-Gerbera-Black.eot);
  src: local("Gerbera Black"),local("Gerbera-Black"),url(../fonts/hinted-Gerbera-Black.eot?#iefix) format("embedded-opentype"),url(../fonts/hinted-Gerbera-Black.woff2) format("woff2"),url(../fonts/hinted-Gerbera-Black.woff) format("woff"),url(../fonts/hinted-Gerbera-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
